.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
    .card-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

