* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    text-align: center;
    h1 {
      color: #ffcb05;
      -webkit-text-stroke: 1px #1d4d82;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  