* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    text-align: center;
    position: relative;

    
    h1 {
      color: #ffcb05;
      -webkit-text-stroke: 1px #1d4d82;
    }
  }
  
  