@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.searchbar {
    padding: .5rem;
    margin: 1rem 1rem;
    background: #0a247a;
    outline: none;
    border: 1px solid #ffcb05;
    color: white;
    font-family: 'Orbitron';
    letter-spacing: 1px;


    &::placeholder {
        color: #ffcb05;
        font-size: .6rem;
    }

    &:focus {
        border: 1px solid #ffcb05;
    }

    @media (max-width: 1000px) {
        width: 9rem;
        height: 2rem;
        font-size: 0.7rem;
    }
}