.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    @media (max-height: 500px) {
        margin-top: 80px;
    }

    .card-list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1600px;
    }
}
