.cardview {
    position: relative;
    background: linear-gradient(to bottom right, #8c8cca, #ebefff);
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;

    .red {
        content: '';
        position: absolute;
        background: #d80d21;
        opacity: .9;
        top: 0;
        left: 0;
        width: 1000px;
        height: 700px;
        transform: scale(10) translateX(-25.4%) translateY(-40%) rotate(-60deg);
        transition: transform .01s cubic-bezier(.29,.28,.6,.6);
    }


    .name-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        margin-top: 1.5rem;
        

        .cardview-name {
            text-transform: uppercase;
            z-index: 1;
            width: 41%;
            background: transparent;
            border-left: 23px solid transparent;
            border-bottom: 40px solid black;
            display: block;
            height: 0;
            line-height: 35px;
            color: white;
        }
    }



    .cardview-content {
        position: relative;
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        z-index: 10;



        .cardview-img {
            width: 450px;
            height: 450px;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cardview-stats {
                display: flex;
                width: 450px;
                background: #e0d2d2;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 3rem;
                
    
                .pokeball {
                    height: 100px;
                    width: 100px;
                }
    
                .stat-title {
                    flex: 1;
                    height: inherit;
                    overflow: hidden;
    
                    p {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        color: black;
                        margin-bottom: .5rem;
                        background: #a8a8a8;
                        height: 43.5px;
                        font-weight: bold;
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                        
                    }
    
    
                    
                }
    
                .stat-value {
                    flex: 1;
                    overflow: hidden;
                    
                    p {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        color: black;
                        margin-bottom: .5rem;
                        height: 43.5px;
                        background: #fff;
                        font-weight: bold;
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
    
                }
    
            }

            .evolution-title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                width: 100%;

                .evolution-tree-title {
                    color: #e0d2d2;
                    padding: 0 1rem;
                    width: 85%;
                    border-bottom: 2px solid black;
                    background: black;
                    border-radius: 5px;
        
                }
            }

            .evolution-tree {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }



    }
}