@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.cardview {
    position: relative;
    background: linear-gradient(to bottom right, #8c8cca, #ebefff);
    height: fit-content;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Orbitron';

    @media (max-width: 1000px) {
        border-radius: 0;
    }

    //-- Mobile landscape
    // @media (max-height: 500px) {
    //     border-radius: 0;
    // }

    .red {
        content: '';
        position: absolute;
        background: #d80d21;
        opacity: .9;
        top: 0;
        left: 0;
        width: 1000px;
        height: 700px;
        transform: scale(10) translateX(-24.8%) translateY(-40%) rotate(-60deg);
        transition: transform .01s cubic-bezier(.29,.28,.6,.6);

        @media (max-width: 1000px) {
            transform: scale(10) translateX(-23.3%) translateY(-40%) rotate(-50deg);
        }

        @media (max-width: 800px) {
            transform: scale(10) translateX(-22.5%) translateY(-40%) rotate(-45deg);
        }

        @media (max-width: 500px) {
            transform: scale(10) translateX(-24%) translateY(-40%) rotate(-40deg);
        }
    
    }

    .name-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        margin-top: 1.5rem;

        @media (max-width: 800px) {
            justify-content: center;
            margin-top: .5rem;
            margin-bottom: 5px;
            
        }

        //-- Mobile landscape
        // @media (max-height: 500px) {
        //     margin-top: 0;
        // }

        .cardview-name {
            text-transform: uppercase;
            z-index: 1;
            width: 35%;
            background: transparent;
            border-left: 23px solid transparent;
            border-bottom: 40px solid black;
            display: block;
            height: 0;
            line-height: 35px;

            @media (max-width: 1000px) {

            }

            @media (max-width: 800px) {
                width: 100%;
                border-left: 0px solid transparent;
                border-bottom: 35px solid black;
                height: 0;
                line-height: 35px;
                font-size: 1rem;
            }

            //-- Mobile landscape
            // @media (max-height: 500px) {

            // }
        }
    }

    .cardview-content {
        position: relative;
        display: flex;
        padding: 0 1rem;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        z-index: 10;

        @media (max-width: 800px) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
        }

        //-- Mobile landscape
        // @media (max-height: 500px) {
        //     justify-content: space-between;
        //     align-items: flex-start;
        //     width: 0;
        // }


        .close-modal {
            visibility: hidden;

            @media (max-width: 800px) {
                width: 100%;
                display: flex;
                justify-content: center;
                color: black;
                font-size: 2.2rem;
                visibility: visible;
            }
        }


        .cardview-img {
            width: 450px;
            height: 450px;

            @media (max-width: 1000px) {
                width: 350px;
                height: 350px;
            }

            @media (max-width: 800px) {
                width: 200px;
                height: 200px;
                margin: 1rem 0;
            }

            @media (max-width: 500px) {
                width: 160px;
                height: 160px;
                margin-bottom: .5rem;
            }

            //-- Mobile landscape
            // @media (max-height: 500px) {
            //     width: 200px;
            //     height: 200px;
            // }


        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cardview-stats {
                display: flex;
                width: 450px;
                background: hsla(0, 0%, 0%, 0.6);
                border-radius: 15px 50px 15px 50px;
                overflow: hidden;
                margin-bottom: 1rem;

                @media (max-width: 1000px) {
                    width: 400px;
                    font-size: .7rem;
                }

                @media (max-width: 800px) {
                    width: 400px;
                    font-size: .60rem;
                    border-radius: 0;
                }

                @media (max-width: 500px) {
                    width: 350px;
                    font-size: .6rem;
                }

                //-- Mobile landscape
                // @media (max-height: 500px) {
                //     border-radius: 15px 40px 15px 40px;
                //     width: 350px;
                //     font-size: .6rem;
                // }


                .stat-title {
                    flex: 1;
                    height: inherit;
                    overflow: hidden;
    
                    p {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        color: white;
                        margin-bottom: .25rem;
                        background: rgba(0, 0, 0, 0.8);
                        height: 35px;
                        font-weight: bold;

                        @media (max-width: 800px) {
                            height: 25px;
                            width: 200px;
                        }

                        @media (max-width: 500px) {
                            height: 20px;
                        }

                        //-- Mobile landscape
                        // @media (max-height: 500px) {
                        //     height: 20px;
                        // }
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
    
                .stat-value {
                    flex: 1;
                    overflow: hidden;
                    
                    p {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        color: white;
                        margin-bottom: .25rem;
                        height: 35px;
                        background: hsla(220, 13%, 18%, .8);

                        @media (max-width: 800px) {
                            height: 25px;
                            width: 200px;
                        }

                        @media (max-width: 500px) {
                            height: 20px;
                        }

                        //-- Mobile landscape
                        @media (max-height: 500px) {
                            height: 20px;
                        }
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .cardview-description {
                
                background: hsla(0, 0%, 0%, 0.5);
                width: 450px;
                border-radius: 15px 50px 15px 50px;
                margin-bottom: 1rem;

                @media (max-width: 1000px) {
                    width: 400px;
                    font-size: .7rem;
                }

                @media (max-width: 800px) {
                    width: 400px;
                    font-size: .60rem;
                    border-radius: 0;
                }

                @media (max-width: 500px) {
                    width: 350px;

                }
                
                //-- Mobile landscape
                @media (max-height: 500px) {
                    width: 350px;
                    border-radius: 15px 40px 15px 40px;
                }

                h4 {
                    color: white;
                    font-weight: bold;
                    background: rgba(0, 0, 0, 0.8);
                    border-radius: 15px 50px 0px 0px;
                    
                    @media (max-width: 800px) {
                        padding: 0.7rem;
                        border-radius: 0;
                    }

                    @media (max-height: 500px) {
                        width: 350px;
                        padding: 0.7rem;
                    }
                }

                p {
                    color: white;
                    background: hsla(220, 13%, 18%, .8);
                    padding: 0.5rem 1rem;
                    border-radius: 0px 0px 15px 50px;

                    @media (max-width: 800px) {
                        padding: 0.5rem 1rem;
                        border-radius: 0;
                    }

                    @media (max-width: 500px) {
                        padding: 0.5rem 1rem;
                    }

                    @media (max-height: 500px) {
                        padding: 0.5rem 1rem;
                    }
                }



            }

            .evolution-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                width: 450px;
                background: hsla(220, 13%, 18%, .8);
                border-radius: 15px 50px 15px 50px;
                margin-bottom: 1rem;

                @media (max-width: 1000px) {
                    width: 400px;
                    font-size: .7rem;
                }

                @media (max-width: 800px) {
                    width: 400px;
                    font-size: .60rem;
                    border-radius: 0;
                }

                @media (max-width: 500px) {
                    width: 350px;
                    font-size: .6rem;

                }

                .evolution-tree-title {
                    color: #e0d2d2;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    border-radius: 15px 50px 0px 0px;

                    @media (max-width: 800px) {
                        border-radius: 0;
                    }

                    @media (max-width: 500px) {
                        padding: .7rem;
                    }
        
                }

                .evolution-tree {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .evolveInfo {
                        margin: .5rem;
                        padding: .7rem;

                        @media (max-width: 800px) {
                            margin: .3rem;
                        }
                    }
                }
            }
        }
    }
}