@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card-list-container {
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .card-content {
            cursor: pointer;
            transition: .3s ease;
            background: #0a247a;
            border: 2px solid black;
            border-radius: 5px;
            margin: 1rem;
            padding: 1rem;

            h2 {
                text-transform: uppercase;
                color: #ffcb05;
                -webkit-text-stroke: 1px #1e1d7a;
                font-family: sans-serif;
                margin-bottom: 1rem;
            }

            img {
                width: 200px;
                height: 250px;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

    }
}

