.card-list {
    width: 100px;
    height: 100px;
    display: flex;
}

img {
    height: 100%;
    width: 100%;
    background: black;
    border-radius: 5px;
    margin: 0 1rem;
    padding: 1rem;
}